.form{

color: rgb(247, 246, 246);
text-align: center;
margin: 20vh;
width: 30vw;
height: 70vh;
margin-left: 34vw;
margin-top: 10vh;
}
form{
  
    color: rgb(248, 244, 244);
   display: flex;
   margin: 10vh;
   padding-bottom: 5vh;
    justify-content: space-around;
    flex-direction: column;
    width: 20vw;
    
}
.label{
    padding-top: 2vh;
}

